{% extends "productionImages/gallery_base.html" %}
{% load static %}

{% block product_image_grid %}
<div class="col-md-7 mb-3" id="product-images">

    <div class="container mt-2">
        <!-- 图片行1 -->
        <div class="row mb-2">
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
        </div>
        <!-- 图片行2 -->
        <div class="row mb-2">
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
        </div>
        <!-- 图片行3 -->
        <div class="row mb-2">
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images"></div>
        </div>
    </div>

</div>

{% endblock %}
