{% extends "productionImages/gallery_base.html" %}
{% load static %}

{% block product_image_grid %}
<div class="col-md-7 mb-3" id="product-images">

    <div class="container mt-2">
        <!-- 图片行1 -->
        <div class="row mb-2">
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-0-c-0"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-0-c-1"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-0-c-2"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-0-c-3"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-0-c-4"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-0-c-5"></div>
        </div>
        <!-- 图片行2 -->
        <div class="row mb-2">
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-1-c-0"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-1-c-1"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-1-c-2"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-1-c-3"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-1-c-4"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-1-c-5"></div>
        </div>
        <!-- 图片行3 -->
        <div class="row mb-2">
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-2-c-0"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-2-c-1"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-2-c-2"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-2-c-3"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-2-c-4"></div>
            <div class="col-2"><img src="https://via.placeholder.com/150" class="img-fluid grid-images" id="r-2-c-5"></div>
        </div>
    </div>

</div>

<div id="upload-url" data-url="{% url 'gallery-photo-upload' %}" style="display: none;"></div>

{% endblock %}
