{% extends "productionImages/gallery_base.html" %}
{% load static %}

{% block product_image_grid %}
<div class="col-md-7 mb-3" id="product-images">

    <div class="container mt-2">
        <!-- 图片行1 -->
        <div class="row mb-2">
            <div class="col-2"><img src="{% static 'camera/images/150.png' %}" class="img-fluid grid-images" id="r-0-c-0"></div>
            <div class="col-2"><img src="{% static 'camera/images/150.png' %}" class="img-fluid grid-images" id="r-0-c-1"></div>
        </div>
        <!-- 图片行2 -->
        <div class="row mb-2">
            <div class="col-2"><img src="{% static 'camera/images/150.png' %}" class="img-fluid grid-images" id="r-1-c-0"></div>
            <div class="col-2"><img src="{% static 'camera/images/150.png' %}" class="img-fluid grid-images" id="r-1-c-1"></div>
        </div>
    </div>


    <!-- 外观测量 -->
    <div class="container">
        <h2>外观尺寸检测</h2>
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">瓶口外径:</span>
                    </div>
                    <input type="text" class="fo{% static 'camera/images/150.png' %}="bottle-top" aria-label="bottle-top">
                    <div class="input-group-append">
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">瓶口外径:</span>
                    </div>
                    <input type="text" class="fo{% static 'camera/images/150.png' %}="bottle-top" aria-label="bottle-top">
                    <div class="input-group-append">
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 瓶底 -->
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">瓶底外径:</span>
                    </div>
                    <input type="text" class="fo{% static 'camera/images/150.png' %}="bottle-bottom" aria-label="bottle-bottom">
                    <div class="input-group-append">
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">瓶底外径:</span>
                    </div>
                    <input type="text" class="fo{% static 'camera/images/150.png' %}="bottle-bottom" aria-label="bottle-bottom">
                    <div class="input-group-append">
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<div id="upload-url" data-url="{% url 'gallery-photo-upload' %}" style="display: none;"></div>

{% endblock %}
