{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Camera Settings Interface</title>
{% endblock %}

{% block head_style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- 引入jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- 引入Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<!-- 引入Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    /* Custom styles to better match the screenshot */
    .sidebar {
        background-color: #FF4500;
        color: white;
    }

    .sidebar .nav-item:hover {
        background-color: #FF5733;
    }

    .nav-link {
        color: white;
    }

    .nav-link.active {
        background-color: #FF5733;
    }

    .control-label {
        margin-right: 10px;
    }

    .slider {
        width: auto;
    }

    .image-region {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .drag-handle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background-color: #000;
        cursor: nwse-resize;
    }

    .info-panel {
        margin-top: 20px;
    }

    .roi-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* 调整radio标签的外边距，让布局更紧凑 */
    .form-check {
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <div class="row">

        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camera-addon"><i class="fa fa-camera"></i></span>
                            </div>
                            <select class="custom-select" id="select_camera" aria-label="Example select with camera icon" aria-describedby="camera-addon">
                                <!-- 相机选项将通过JavaScript动态添加 -->
                            </select>
                        </div>

                    </li>
                    <!-- Other sidebar items -->
                    <li class="nav-item">
                        <div>test</div>
                    </li>
                </ul>
            </div>
            <!-- 在这里添加一个隐藏的div来存储动态生成的URL -->
            <div id="camera-list-url" data-url="{% url 'camera_list' %}" style="display: none;"></div>
            <div id="camera-grab-url" data-url="{% url 'camera_grab' %}" style="display: none;"></div>
            <div id="save-configure-url" data-url="{% url 'save_configure' %}" style="display: none;"></div>
            <div id="load-configure-url" data-url="{% url 'load_configure' %}" style="display: none;"></div>
            <div id="reset-configure-url" data-url="{% url 'reset_configure' %}" style="display: none;"></div>


        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="py-2">
                <div class="container-fluid">
                    <!-- Tabs -->
                    <!-- <ul class="nav nav-tabs">
                         <li class="nav-item">
                         <a class="nav-link active" href="#">Conditions</a>
                         </li>
                         <li class="nav-item">
                         <a class="nav-link" href="#">Profile Management</a>
                         </li>
                         </ul> -->
                    <!-- Camera view and controls -->
                    <div class="row">
                        <div class="col-md-8">

                            <!-- Camera view -->
                            <div id="imageContainer" class="image-container mb-2">
                                <img id="camera-image" src="https://placehold.co/600x300" alt="Camera Stream" class="img-fluid rounded">
                                <canvas id="roiCanvas" class="roi-canvas"></canvas>
                                <div id="dragHandle" class="drag-handle"></div>
                            </div>
                            <div id="infoPanel" class="info-panel" style="display: none;">
                                <p>Coordinates: <span id="coords">0, 0</span></p>
                            </div>

                            <!-- Save buttons -->
                            <div class="row mb-2">
                                <div class="col-md-12" id="preview-group">
                                    <button type="button" class="btn btn-secondary" id="start-preview" onclick="startPreview()">预览</button>
                                    <button type="button" class="btn btn-secondary" id="stop-preview" onclick="stopPreview()">停止</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Controls -->

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="输入或选择分辨率" id="resolution-input" aria-label="Resolution">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item resolution-option" href="#">1920x1080</a>
                                        <a class="dropdown-item resolution-option" href="#">1280x720</a>
                                        <a class="dropdown-item resolution-option" href="#">640x480</a>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <h2>曝光设置</h2>
                                <div class="row ml-2">
                                    <div class="col-auto form-check">
                                        <input type="radio" name="ae_state" value="1" id="autoExposure" class="form-check-input" checked>
                                        <label class="form-check-label" for="autoExposure">自动曝光</label>
                                    </div>
                                    <div class="col-auto form-check">
                                        <input type="radio" name="ae_state" value="0" id="manualExposure" class="form-check-input">
                                        <label class="form-check-label" for="manualExposure">手动设置</label>
                                    </div>
                                </div>
                                <!-- Auto and manual ae_state settings divs go here -->
                                <div id="auto-exposure-settings" class="mt-2">
                                    自动曝光目标数值：<input type="number" class="form-control" id="ae_target" min="0" step="1" value="100">
                                </div>

                                <div class="input-group mb-3" style="display: none;" id="manual-exposure-settings">
                                    <input type="number" class="form-control" id="manualExposureTime" placeholder="设置曝光时间" aria-label="ae_state Time" min="0" step="1" value="100">
                                    <div class="input-group-append">
                                        <span class="input-group-text">us</span>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3">
                                <h2>触发模式</h2>
                                <div class="row ml-2">
                                    <div class="col-auto form-check">
                                        <input type="radio" name="trigger" value="0" id="continous-mode" class="form-check-input" checked>
                                        <label class="form-check-label" for="continous-mode">连续触发</label>
                                    </div>
                                    <div class="col-auto form-check">
                                        <input type="radio" name="trigger" value="1" id="soft-mode" class="form-check-input">
                                        <label class="form-check-label" for="soft-mode">软件触发</label>
                                    </div>
                                    <div class="col-auto form-check">
                                        <input type="radio" name="trigger" value="2" id="hard-mode" class="form-check-input">
                                        <label class="form-check-label" for="hard-mode">硬件触发</label>
                                    </div>
                                </div>


                                <div class="row ml-2" id="trigger-settings" style="display: none;">
                                    <div class="col">
                                        <label for="triggerDelayTime">Delay (ms)</label>
                                        <input type="number" class="form-control" id="triggerDelayTime" placeholder="Delay (ms)" value="1000">
                                    </div>
                                    <div class="col">
                                        <label for="trigger-count-input">Trigger Count</label>
                                        <input type="number" class="form-control" id="trigger-count-input" placeholder="Trigger Count" value="1">
                                    </div>
                                    <div class="col">
                                        <button type="button" id="trigger-btn" class="btn btn-primary">Trigger</button>
                                    </div>
                                </div>

                            </div>


                            <div class="mb-3">
                                <h2>闪光灯</h2>
                                <div class="row ml-2">
                                    <div class="col-auto form-check">
                                        <input type="radio" name="lighting" value="0" id="light-auto" class="form-check-input" checked>
                                        <label class="form-check-label" for="continous-mode">自动</label>
                                    </div>
                                    <div class="col-auto form-check">
                                        <input type="radio" name="lighting" value="1" id="light-manaual" class="form-check-input">
                                        <label class="form-check-label" for="soft-mode">手动</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <h2>Mapping Table Settings</h2>
                                <div id="mapping-table-settings" class="mt-2">
                                    gamma：<span id="gamma-value">1.0</span>
                                    <input type="range" class="custom-range" id="gamma-range" min="1" max="100" step="1" value="50">

                                    contrast： <span id="contrast-value">100</span>
                                    <input type="range" class="custom-range" id="contrast-range" min="0" max="200" step="1" value="100">
                                </div>
                            </div>

                            <div class="mb-3">
                                <h2>ROI</h2>
                                <div id="roi-settings" class="mt-2">
                                    <div class="mt-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" aria-label="Checkbox for following text input" id="check-roi-0">
                                                </div>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">ROI-1:</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="x0" aria-label="roi-x0-0" id="roi-x0-0">
                                            <input type="text" class="form-control" placeholder="y0" aria-label="roi-y0-0" id="roi-y0-0">
                                            <input type="text" class="form-control" placeholder="x1" aria-label="roi-x1-0" id="roi-x1-0">
                                            <input type="text" class="form-control" placeholder="y1" aria-label="roi-y1-0" id="roi-y1-0">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" id="roi-button-0" type="button">设置</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" aria-label="Checkbox for following text input" id="check-roi-1">
                                                </div>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">ROI-2:</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="x0" aria-label="roi-x0-1" id="roi-x0-1">
                                            <input type="text" class="form-control" placeholder="y0" aria-label="roi-y0-1" id="roi-y0-1">
                                            <input type="text" class="form-control" placeholder="x1" aria-label="roi-x1-1" id="roi-x1-1">
                                            <input type="text" class="form-control" placeholder="y1" aria-label="roi-y1-1" id="roi-y1-1">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" id="roi-button-1" type="button">设置</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <h2>配置文件</h2>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="输入或选择配置文件" id="configure-file" aria-label="configure">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item config-option" href="#">配置1</a>
                                            <a class="dropdown-item config-option" href="#">配置2</a>
                                            <a class="dropdown-item config-option" href="#">配置3</a>
                                            <a class="dropdown-item config-option" href="#">配置4</a>
                                        </div>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="save-configure">保存</button>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="load-configure">载入</button>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="reset-configure">重置</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

{% endblock %}

{% block endscript %}

<script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    var save_configure_url = $('#save-configure-url').data('url');
    var reset_configure_url = $('#reset-configure-url').data('url');
    var load_configure_url = $('#load-configure-url').data('url');
    var camera_list_url = $("#camera-list-url").data("url");

    var ws;
    var trigger_mode = 0;


    function getCameraList() {

        // Use jQuery's ajax method to fetch data
        $.ajax({
            url: camera_list_url,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                const cameras = data.cameras;
                const selectCamera = $("#select_camera");

                // Clear existing options using jQuery
                selectCamera.empty();

                // Add new options for each camera
                cameras.forEach(function(camera) {
                    selectCamera.append($('<option></option>').val(camera).text(camera));
                });

                // Default to the first camera, if available
                if (cameras.length > 0) {
                    selectCamera.val(cameras[0]);
                }
                // 
                getCameraParameters();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching camera list:', error);
            }
        });
    }


    function getCameraParameters() {
        console.log($('#select_camera').val());
        $.ajax({
            url: '/api/camera/parameters/',
            type: 'GET',
            data: {
                camera_id: $('#select_camera').val()
            },
            success: function(data) {
                // 处理数据...
                console.log(data);
                // Update resolution input
                $('#resolution-input').val(data.resolution.w + 'x' + data.resolution.h);

                // Update trigger mode radios
                $('input[name="trigger"][value="' + data.triggerMode + '"]').prop('checked', true);
                trigger_mode = data.triggerMode;
                $('#triggerDelayTime').val(data.triggerDelayTime);
                $('#triggerCount').val(data.triggerCount);
                /* $('input[name="trigger"][value="' + data.triggerMode + '"]').trigger('change'); */

                // Update ae_state time
                $('input[name="ae_state"][value="' + data.ae_state + '"]').prop('checked', true);
                $('#manualExposureTime').val(data.expose_time);
                $('#ae_target').attr('min', data.ae_target_range[0])
                               .attr('max', data.ae_target_range[1])
                               .val(data.ae_target)
                $('input[name="ae_state"][value="' + data.ae_state + '"]').trigger('change');

                // Update gamma and contrast values and ranges
                $('#gamma-value').text(data.lut_gamma);
                $('#gamma-range').attr('min', data.lut_gamma_range[0])
                    .attr('max', data.lut_gamma_range[1])
                    .val(data.lut_gamma);

                $('#contrast-value').text(data.lut_contrast);
                $('#contrast-range').attr('min', data.lut_contrast_range[0])
                    .attr('max', data.lut_contrast_range[1])
                    .val(data.lut_contrast);

                // roi
                $('#roi-x0-0').val(data.roi0[0]);
                $('#roi-y0-0').val(data.roi0[1]);
                $('#roi-x1-0').val(data.roi0[2]);
                $('#roi-y1-0').val(data.roi0[3]);
                $('#roi-x0-1').val(data.roi1[0]);
                $('#roi-y0-1').val(data.roi1[1]);
                $('#roi-x1-1').val(data.roi1[2]);
                $('#roi-y1-1').val(data.roi1[3]);
                if (data.roi0_disabled > 0) {
                    $('#check-roi-0').prop('disabled', true);
                } else {
                    $('#check-roi-0').prop('disabled', false);
                }
                if (data.roi1_disabled > 0) {
                    $('#check-roi-1').prop('disabled', true);
                } else {
                    $('#check-roi-1').prop('disabled', false);
                }
            }
        });
    }
</script>
<script src="{% static 'js/preview.js' %}"></script>
<script src="{% static 'js/document_ready.js' %}"></script>
<script src="{% static 'js/roi.js' %}"></script>
{% endblock %}
